<table border="2">
    <th>ID</th>
    <th>NOM</th>
    <th>DESCRIPTION/th>
    <th>DATE</th>
    <th>LOCALISATION</th>

    {% for t in  projets%}
            <tr>
                <td> {{ t.id }}</td>
                <td> {{ t.nom }}</td>
                <td> {{ t.description }}</td>
                <td> {{ t.date|date }}</td>
                <td> {{ t.localisation }}</td>

            </tr>
    {% endfor %}
</table>